@using CS353.Models.Entity
@model List<TBLUser>
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

<h2>My Wall</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>My Actions</th>
    </tr>
   
</table>