@model CS353.Models.Entity.TBLGenre
@{
    ViewBag.Title = "AddGenre";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class=" form-group" method="post">
    <div></div>
    <div style=" margin-top:15px">
        <label>Genre Name</label>
        <input type="text" class="form-control" name="g_name" />
    </div>
    <div style=" margin-top:15px">
        <button class="btn btn-info">Add Genre </button>
    </div>
</form>