@model CS353.Models.Entity.TBLUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Page</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1);
        }
    </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/Webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="~/Webregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">                    
                    <h1>Register and enjoy free movies</h1>
                    <p>
                        Hi There! Welcome To Our Movie Website! Watch Free Whatever You Want!
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/Login"> Login</a></li>
                            <li><a class="read" href="/Homepage/Index"> Homepage</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> register here</h2>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <label>Name</label>
                                    <input type="text" name="u_name" required="">
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <label>Surname</label>
                                    <input type="text" name="u_surname" required="">
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <label>Email</label>
                                    <input type="email" name="u_email" required="">
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="u_password" required="">
                                    <label>Password</label>
                                    <span></span>
                                </div>                               
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>I agree to the <a href="#">Terms and Conditions</a></label>
                            </div>
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- copyright -->
        <p class="agile-copyright">©All Rights Reserved</p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>